<footer class="border-top fundo lagura_min">
     <div class="bg-dark rodape_dark rodape_dark_sm">
        <div class="container" style="padding-top: 10px; color: white">
            <div class="row" >
                <div class="col-2 col-md-1" >
                    <img src="../../assets/logo.png" width="23" height="35" class="d-inline-block align-top" alt="" loading="lazy">
                </div>
                <div class="col-10 col-md-11 conteudo" style="text-align:center;">
                  <a style="color:white" target="_blank" href="https://www.linkedin.com/in/anselmo-gois-0ab289195/"><span class="fonte_site" style="font-size: 12px;">Desenvolvido Por Anselmo Moura</span></a>
                </div>
            </div>
             
        </div>  
    </div>  
</footer>