.fundo {
    margin-top: 10px !important; 
    font-family: Calibri;
    color: black;
  }
  
  .redessociais {
    color: black !important; 
    font-size: 20px;
  }
  
  .efeitoredes i:hover {
    color: pink !important;
  }
  
  .conteudo{
    color:black
  }
  
  .conteudo a:hover {
    color: pink !important;
  }
  
  .rodape_dark {
    height: 50px; 
    margin-bottom: 0px !important;
  }
  
  @media only screen and (max-width: 600px) {
    
    .rodape_dark_sm {
      height: 70px; 
    }
    
    .ocultar_conteudo_sm {
      display: none;
    }
  }
  
  @media only screen and (min-width: 600px) {
    
    .ocultar_conteudo_md {
      display: none;
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}