<div class="marcadagua">



    <div class="card" style="padding-top: 0.5rem !important;">


        <div class="card-container blue-container overflow-hidden">

            <p-toolbar>
                <div class="p-toolbar-group-start">
                    <span class="titulo-grid">Cartões de Crédito</span>
                </div>
                <div class="p-toolbar-group-end">
                    <button pButton pRipple label="Cadastrar Cartão de Crédito" icon="fa-solid fa-plus"
                        class="p-button-success" (click)="showDialog()"></button>
                </div>
            </p-toolbar>
            <div class="flex">
                <div class="col corpo-grid">

                    <p-table [value]="cartoesCredito" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header" style="background-color: lightblue !important;">
                            <tr>
                                <th style="width: 15%;">Imagem</th>
                                <th style="width: 20%;">Codigo</th>
                                <th style="width: 50%;">Descrição</th>
                                <th style="width: 15%;">Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-cartaoCredito>
                            <tr>
                                <td style="width: 15%;">
                                    <div *ngIf="cartaoCredito.identificadorImagem; else sem_imagem">
                                        <img [src]="cartaoCredito.identificadorImagem|exibirImagemDiretorio" width="100px" height="50px"
                                            (click)="exibirImagem(cartaoCredito.identificador)" style="cursor:pointer;">
                                    </div>
                                </td>
                                <td style="width: 20%;">{{ cartaoCredito.codigoBandeira }}</td>
                                <td style="width: 50%;">{{ cartaoCredito.descricao }}</td>
                                <td style="width: 15%;">
                                    <p-button icon="pi pi-search" class="mr-2"
                                        (onClick)="visualizar(cartaoCredito.identificador)"></p-button>
                                    <p-button icon="fa-solid fa-pen" styleClass="p-button-success mr-2"
                                        (onClick)="editar(cartaoCredito.identificador)"></p-button>
                                    <p-button icon="pi pi-times" styleClass="p-button-danger"
                                        (onClick)="deletar(cartaoCredito.identificador)"></p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <ng-template #sem_imagem>
        <img src="../../../assets/sem_imagem.png" width="50px" height="50px">
    </ng-template>

    <div class="card flex justify-content-center">
        <p-dialog header="Cadastrar Cartão de Crédito" [(visible)]="visivel" [modal]="true" [style]="{ width: '50vw' }"
            [draggable]="false" [resizable]="false">

            <form [formGroup]="formulario" novalidate (ngSubmit)="cadastrar()">

                <div class="card">
                    <div class="formgrid grid">

                        <div class="field col">
                            <div *ngIf="tiposBandeiraCartao" class="flex flex-column gap-2">
                                <label htmlFor="codigoBandeira">Bandeira:</label>
                                <p-dropdown formControlName="codigoBandeira" [options]="tiposBandeiraCartao"
                                    optionLabel="descricao" [showClear]="true" placeholder="Selecione a bandeira"
                                    [(ngModel)]="tipoBandeiraCartaoSelecionado">
                                    <ng-template pTemplate="selectedItem">
                                        <div class="flex align-items-center gap-2" *ngIf="tipoBandeiraCartaoSelecionado">
                                            <img [src]="tipoBandeiraCartaoSelecionado.codigo|exibirImagemAssets" style="width: 18px" />
                                            <div>{{tipoBandeiraCartaoSelecionado.descricao}}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-tipobandeira pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <img [src]="tipobandeira.codigo|exibirImagemAssets" style="width: 18px" />
                                            <div>{{tipobandeira.descricao}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                            <br>
                            <div class="flex flex-column gap-2">
                                <label htmlFor="descricao">Descrição:</label>
                                <input type="text" pInputText formControlName="text" formControlName="descricao"
                                    placeholder="Digite a descrição" aria-describedby="descricao-help"
                                    style="max-width: 350px !important;" />
                            </div>
                            <br>
                            <div class="flex flex-column gap-2">
                                <label htmlFor="descricao">Imagem:</label>
                                <input type="file" pInputText style="max-width: 350px !important;" accept="image/*" formControlName="imagem"
                                    (change)="preparaImagemUpload($event)" />

                            </div>
                            <br>
                            <div class="flex flex-column gap-2">
                                <label htmlFor="descricao">Programa Sala Vip:</label>
                                <p-multiSelect [options]="programasSalasVips" [(ngModel)]="programasSalasVipsSelecionados" 
                                    defaultLabel="Selecione os programas" optionLabel="descricao" formControlName="programasSalasVips" >
                                    <ng-template let-value pTemplate="selectedItems">
                                        <div class="flex align-items-center gap-2" *ngFor="let programa of programasSalasVipsSelecionados">
                                            <img [src]="programa.identificadorImagem|exibirImagemDiretorio" class="flag" style="width: 32px"/>
                                            <div>{{ programa.descricao }}</div>
                                        </div>
                                        <div *ngIf="!programasSalasVipsSelecionados || programasSalasVipsSelecionados.length === 0">Selecione os programas</div>
                                    </ng-template>
                                    <ng-template let-programa pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <img [src]="programa.identificadorImagem|exibirImagemDiretorio" class="flag" style="width: 32px"/>
                                            <div>{{ programa.descricao }}</div>
                                        </div>
                                    </ng-template>
                            </p-multiSelect>
                            </div>
                        </div>
                        <div class="field col">
                            <div *ngIf="base64Code; else imagem_api" class="flex flex-column gap-2">
                                <img [src]="base64Code|exibirImagem" alt="" width="350px" height="200px">
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #imagem_api>
                    <div *ngIf="cartaoCredito?.identificadorImagem" class="flex flex-column gap-2" style="align-items: center;">
                        <img [src]="cartaoCredito!.identificadorImagem|exibirImagemDiretorio" alt="" width="350px" height="250px">
                    </div>
                   
                </ng-template>
                <br>
                <br>
                <div *ngIf="edicaoHabilitada">
                    <p-divider></p-divider>
                    <div class="flex">
                        <button pButton pRipple type="submit" label="Salvar" icon="fa-solid fa-floppy-disk" [disabled]="this.formulario.status === 'INVALID'"
                            class="p-button-success"></button>
                    </div>
                </div>
            </form>
        </p-dialog>
    </div>

    <div class="card flex justify-content-center">
        <p-dialog header="Aviso" [(visible)]="mensagemVisivel" [modal]="true" [style]="{ width: '50vw' }"
            [draggable]="false" [resizable]="false">

            <ng-container *ngIf="exibirErro;">
                <span style="color:red; font-size: 20px;"><i class="fa-solid fa-bomb"></i> {{mensagemErro}}</span>
            </ng-container>


        </p-dialog>
    </div>

    <div *ngIf="cartaoCreditoFiltrado != undefined" class="card flex justify-content-center">
        <p-dialog [header]="cartaoCreditoFiltrado.descricao" [(visible)]="imagemVisivel" [modal]="true"
            [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">

            <ng-container>
                <div *ngIf="cartaoCreditoFiltrado != undefined && cartaoCreditoFiltrado.identificadorImagem != undefined"
                    style="width: 100%; text-align: center !important;">
                    <img [src]="cartaoCreditoFiltrado.identificadorImagem|exibirImagemDiretorio" alt="" width="500px" height="350px">
                </div>
            </ng-container>


        </p-dialog>
    </div>

</div>
<div *ngIf="processando" class="card flex justify-content-center">
    <p-progressSpinner></p-progressSpinner>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>