<div class="card" style="width: 20rem; margin-top: 80px; ">
    <div class="card-body" style="align-content: center;">
      <div class="card-title"></div>
      
     <form [formGroup]="formulario" (ngSubmit)="autenticar()">
        <div class="form-group">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Usuario"
            formControlName="usuario"
          >
        </div>
        <div class="form-group" style="padding-top: 5px;">
          <input 
            type="password"
            class="form-control" 
            placeholder="Senha"
            formControlName="senha"
          >
        </div>
        <button type="submit" class="btn btn-primary btn-sm btn-block" style="margin-top: 5px;">Entrar</button>
     </form>
     <div *ngIf="mensagemErro !== undefined || mensagemErro !== null">
      <hr />
  
      <p class="small text-danger text-center">{{mensagemErro}}</p>
    </div>
    </div>
  </div>
  <br />
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <p class="card-text">
        Não tem uma conta? <a href="#" (click)="EfetuarCadastro()" class="card-link">Cadastre-se</a>
      </p> 
    </div>
  </div>