<header class="fixed-top" style="background: black !important;">
    <div class="container">
        <nav class="navbar navbar-expand navbar-dark linha_botton "> 
            <a class="navbar-brand" href="#">      
                <img src="../../assets/logo.png" width="23" height="35" class="d-inline-block align-top" alt="" loading="lazy">
                Controle de Milhas
            </a>
        </nav>
        <nav class="navbar navbar-expand navbar-dark"> 
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav efeitoMenu">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/home']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/programa']" routerLinkActive="active" >Programa Fidelidade</a>
                    </li>                               
                   
                </ul>
            </div>
             
        </nav>
    </div>
</header>