.redessociais {
    color: white !important; 
    font-size: 20px;
  }

  .efeitoredes i:hover {
    color: pink !important;
  }

  .efeitoMenu a:hover {
    color: pink !important;
  } 
  
  .linha_botton {
    border-bottom: gray 1px solid;
  }

  .vcenter-item{
    min-width: 1400px;
}
